extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p Welcome to your Project Skeleton
  ul 
    each question in questions
      li= question.title
      li= question.User.username
      li= question.createdAt
      li= question.voteCount
      li= question.answerCounts
      //- each vote in question.Vote
      //-   li= vote.isDownvote
