extends layout

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" async defer)

block content
  include top-nav
  include side-nav
  div.main
    ul
      each question in questions
        a(href=question.link)
          div.questions-block
            div.questions-block__answers
              li.questions-block__answers__count= question.answerCounts
              li= question.answerCount
              li Answers
            div.question-block__votes
              if question.userUpVote
                svg(id=`up-arrow-${question.id}` data-questionId=question.id height='100px' width='100px'   xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" x="0px" y="0px" viewBox="0 0 100 100").up-arrow.voted
                  g(transform="translate(0,-952.36218)")
                    path.primaryp(style="font-size:medium;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-indent:0;text-align:start;text-decoration:none;line-height:normal;letter-spacing:normal;word-spacing:normal;text-transform:none;direction:ltr;block-progression:tb;writing-mode:lr-tb;text-anchor:start;baseline-shift:baseline;opacity:1;color:#000000;stroke:none;stroke-width:1.61208438999999990;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Sans;-inkscape-font-specification:Sans" d="M 50 6.0625 C 25.532851 6.0625 5.90625 25.88497 5.90625 50 C 5.90625 74.115 25.532851 93.9375 50 93.9375 C 74.467148 93.9375 94.125 74.115 94.125 50 C 94.125 25.88497 74.467148 6.0625 50 6.0625 z M 50 9.90625 C 71.924782 9.90625 89.875 27.72312 89.875 50 C 89.875 72.2769 71.924782 90.09375 50 90.09375 C 28.075217 90.09375 10.0625 72.2769 10.0625 50 C 10.0625 27.72312 28.075217 9.90625 50 9.90625 z M 49.71875 37.25 A 2.0002 2.0002 0 0 0 48.78125 37.65625 L 29.875 52.34375 A 2.0002 2.0002 0 1 0 32.3125 55.5 L 50 41.75 L 67.6875 55.5 A 2.0002 2.0002 0 1 0 70.125 52.34375 L 51.21875 37.65625 A 2.0002 2.0002 0 0 0 49.71875 37.25 z " transform="translate(0,952.36218)")
              else
                svg.up-arrow(id=`up-arrow-${question.id}` data-questionId=question.id height='100px' width='100px'   xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" x="0px" y="0px" viewBox="0 0 100 100")
                  g(transform="translate(0,-952.36218)")
                    path.primaryp(style="font-size:medium;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-indent:0;text-align:start;text-decoration:none;line-height:normal;letter-spacing:normal;word-spacing:normal;text-transform:none;direction:ltr;block-progression:tb;writing-mode:lr-tb;text-anchor:start;baseline-shift:baseline;opacity:1;color:#000000;stroke:none;stroke-width:1.61208438999999990;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Sans;-inkscape-font-specification:Sans" d="M 50 6.0625 C 25.532851 6.0625 5.90625 25.88497 5.90625 50 C 5.90625 74.115 25.532851 93.9375 50 93.9375 C 74.467148 93.9375 94.125 74.115 94.125 50 C 94.125 25.88497 74.467148 6.0625 50 6.0625 z M 50 9.90625 C 71.924782 9.90625 89.875 27.72312 89.875 50 C 89.875 72.2769 71.924782 90.09375 50 90.09375 C 28.075217 90.09375 10.0625 72.2769 10.0625 50 C 10.0625 27.72312 28.075217 9.90625 50 9.90625 z M 49.71875 37.25 A 2.0002 2.0002 0 0 0 48.78125 37.65625 L 29.875 52.34375 A 2.0002 2.0002 0 1 0 32.3125 55.5 L 50 41.75 L 67.6875 55.5 A 2.0002 2.0002 0 1 0 70.125 52.34375 L 51.21875 37.65625 A 2.0002 2.0002 0 0 0 49.71875 37.25 z " transform="translate(0,952.36218)")
              li.question-block__votes__vote-count(id=`vote-count-${question.id}`)= question.voteCount
              if question.userDownVote
                svg.down-arrow.voted(id=`down-arrow-${question.id}` data-questionId=question.id height='100px' width='100px'   xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" x="0px" y="0px" viewBox="0 0 100 100")
                  g(transform="translate(0,-952.36218)")
                    path.primaryp(style="font-size:medium;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-indent:0;text-align:start;text-decoration:none;line-height:normal;letter-spacing:normal;word-spacing:normal;text-transform:none;direction:ltr;block-progression:tb;writing-mode:lr-tb;text-anchor:start;baseline-shift:baseline;opacity:1;color:#000000;stroke:none;stroke-width:1.61208438999999990;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Sans;-inkscape-font-specification:Sans" d="M 50 6.0625 C 25.532851 6.0625 5.90625 25.88497 5.90625 50 C 5.90625 74.115 25.532851 93.9375 50 93.9375 C 74.467148 93.9375 94.125 74.115 94.125 50 C 94.125 25.88497 74.467148 6.0625 50 6.0625 z M 50 9.90625 C 71.924782 9.90625 89.875 27.72312 89.875 50 C 89.875 72.2769 71.924782 90.09375 50 90.09375 C 28.075217 90.09375 10.0625 72.2769 10.0625 50 C 10.0625 27.72312 28.075217 9.90625 50 9.90625 z M 49.71875 37.25 A 2.0002 2.0002 0 0 0 48.78125 37.65625 L 29.875 52.34375 A 2.0002 2.0002 0 1 0 32.3125 55.5 L 50 41.75 L 67.6875 55.5 A 2.0002 2.0002 0 1 0 70.125 52.34375 L 51.21875 37.65625 A 2.0002 2.0002 0 0 0 49.71875 37.25 z " transform="translate(0,952.36218)")
              else
                svg.down-arrow(id=`down-arrow-${question.id}` data-questionId=question.id height='100px' width='100px'   xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" x="0px" y="0px" viewBox="0 0 100 100")
                  g(transform="translate(0,-952.36218)")
                    path.primaryp(style="font-size:medium;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-indent:0;text-align:start;text-decoration:none;line-height:normal;letter-spacing:normal;word-spacing:normal;text-transform:none;direction:ltr;block-progression:tb;writing-mode:lr-tb;text-anchor:start;baseline-shift:baseline;opacity:1;color:#000000;stroke:none;stroke-width:1.61208438999999990;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Sans;-inkscape-font-specification:Sans" d="M 50 6.0625 C 25.532851 6.0625 5.90625 25.88497 5.90625 50 C 5.90625 74.115 25.532851 93.9375 50 93.9375 C 74.467148 93.9375 94.125 74.115 94.125 50 C 94.125 25.88497 74.467148 6.0625 50 6.0625 z M 50 9.90625 C 71.924782 9.90625 89.875 27.72312 89.875 50 C 89.875 72.2769 71.924782 90.09375 50 90.09375 C 28.075217 90.09375 10.0625 72.2769 10.0625 50 C 10.0625 27.72312 28.075217 9.90625 50 9.90625 z M 49.71875 37.25 A 2.0002 2.0002 0 0 0 48.78125 37.65625 L 29.875 52.34375 A 2.0002 2.0002 0 1 0 32.3125 55.5 L 50 41.75 L 67.6875 55.5 A 2.0002 2.0002 0 1 0 70.125 52.34375 L 51.21875 37.65625 A 2.0002 2.0002 0 0 0 49.71875 37.25 z " transform="translate(0,952.36218)")

            div.questions-block__content
              li.question-block__content__title= question.title
              li.question-block__content__question= question.trimmedContent

            div.questions-block__user-info
              li=question.User.username
              li=question.formattedDate
        //- each vote in question.Vote
        //-   li= vote.isDownvote
