extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  include top-nav
  include side-nav
  div.main
    ul 
      each question in questions
        div.questions-block
          div.questions-block__answers
            li.questions-block__answers__count= question.answerCounts
            li= question.answerCount
            li Answers
          div.question-block__votes
            div.up-arrow 
            li.question-block__votes__vote-count= question.voteCount
            div.down-arrow
          div.questions-block__content
            li.question-block__content__title= question.title
            li.question-block__content__question= question.content
          div.questions-block__user-info
            li= question.User.username
            li= question.createdAt
        //- each vote in question.Vote
        //-   li= vote.isDownvote
