extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" async defer)

block content
  include top-nav
  include side-nav
  div.main
    ul
      each question in questions
        a(href=question.link)
          div.questions-block
            div.questions-block__answers
              li.questions-block__answers__count= question.answerCounts
              li= question.answerCount
              li Answers
            div.question-block__votes
              if question.userUpVote
                div.up-arrow.voted(id=`up-arrow-${question.id}` data-questionId=question.id)
              else
                div.up-arrow(id=`up-arrow-${question.id}` data-questionId=question.id)
              li.question-block__votes__vote-count(id=`vote-count-${question.id}`)= question.voteCount
              if question.userDownVote
                div.down-arrow.voted(id=`down-arrow-${question.id}` data-questionId=question.id)
              else
                div.down-arrow(id=`down-arrow-${question.id}` data-questionId=question.id)
            div.questions-block__content
              li.question-block__content__title= question.title
              li.question-block__content__question= question.trimmedContent
            div.questions-block__user-info
              li=question.User.username
              li=question.formattedDate
        //- each vote in question.Vote
        //-   li= vote.isDownvote
