extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/question-detail.css")
  //- add page specific js


block content
  include top-nav
  include side-nav
  div.main
    div.questions-block
            div.questions-block__answers
              li.questions-block__answers__count= question.answerCounts
              li= question.answerCount
              li Answers
            div.question-block__votes
              if question.userUpVote
                div.up-arrow.voted(id=`up-arrow-${question.id}` data-questionId=question.id)
              else
                div.up-arrow(id=`up-arrow-${question.id}` data-questionId=question.id)
              li.question-block__votes__vote-count(id=`vote-count-${question.id}`)= question.voteCount
              if question.userDownVote
                div.down-arrow.voted(id=`down-arrow-${question.id}` data-questionId=question.id)
              else
                div.down-arrow(id=`down-arrow-${question.id}` data-questionId=question.id)
            div.questions-block__content
              li.question-block__content__title= question.title
              li.question-block__content__question= question.content
            div.questions-block__user-info
              li= question.User.username
              li= question.formattedDate

    if authenticated
        .actions
            a.add-answer(href=`/questions/${question.id}/answers/new`) Add Answer
            if user.id === question.userId
                .actions-actions
                    a.edit-question(href=`/questions/${question.id}/edit`) Edit Question
                    form(action=`/questions/${question.id}/delete` method="post")
                        button.delete-question(type="submit") Delete Question



    each answer in question.Answers
        div.answer-block
            div.answer-block__votes
                if answer.userUpVote
                  div.up-arrow-answer.voted(id=`up-arrow-answer-${answer.id}` data-answerId=answer.id)
                else
                  div.up-arrow-answer(id=`up-arrow-answer-${answer.id}` data-answerId=answer.id)
                li.answer-block__votes__vote-count(id=`vote-count-answers-${answer.id}`)= answer.voteCount
                if answer.userDownVote
                  div.down-arrow-answer.voted(id=`down-arrow-answer-${answer.id}` data-answerId=answer.id)
                else
                  div.down-arrow-answer(id=`down-arrow-answer-${answer.id}` data-answerId=answer.id)
            .answer-block__content
                .answer-block__content__answer= answer.content
            .answer-block__user-info
                li= answer.author
                li= answer.formattedDate

        if answer.Comments.length === 0
          if authenticated
            .answer-actions
              a.add-comment-no(href=`/answers/${answer.id}/comments/new`) Add Comment
              if user.id === answer.userId
                  .answer-actions-actions-no
                    a.edit-answer(href=`/answers/${answer.id}/edit`) Edit Answer
                    form(action=`/answers/${answer.id}/delete` method="post")
                      button.delete-answer(type="submit") Delete Answer
        else
          each comment in answer.Comments
            div.comment-block
              .comment-block__content
                .comment-block__comment__content=comment.comment
          if authenticated
            a.add-comment.check(href=`/answers/${answer.id}/comments/new`) Add Comment
            if user.id === answer.userId
                  .answer-actions-actions
                    form(action=`/answers/${answer.id}/delete` method="post")
                      button.delete-answer(type="submit") Delete Answer
                    a.edit-answer(href=`/answers/${answer.id}/edit`) Edit Answer
