mixin validationErrorSummary(errors)
  if errors
    div.form-container__error-container
      p The following error(s) occurred:
      ul
        each error in errors
          li= error
  else

mixin field(fieldName, fieldValue, placeholder, fieldType = 'text')
  div
    input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder required)
